.banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../imgs/banner-img.png");
    height: 600px;
    background-size: cover;
    background-position: center;

    &__section{

        justify-content: center;
       // background-color: lime;

    }


    &__title{

        padding: 1%;
        margin-left: 13%;
        font-weight: bold;
        font-size: 40px;
        color: white;
        max-width: 35%;
        text-align: center;
    }

    &__text{
        margin-left: 10%;
        color: white;
        font-weight: normal;
        font-size: 33px;
    }

    .btn{
        
        margin-top: 1%;
        margin-left: 24.5%;
        margin-bottom: 10%;
       
    }
}
@media screen and (max-width: 900px){

    .banner{

           // justify-content: center;

        &__title{
            margin-left: 13%;
            font-weight: bold;
            font-size: 37px;
            color: white;
            max-width: 55%; 
            text-align: center;
            
        }
    
        &__text{
            margin-left: 12%;
            color: white;
            font-weight: normal;
            font-size: 25px;
            max-width: 65%;
            text-align: center;
            padding: 3%;
        }

    }
}