.carrousel{
    overflow: hidden;
    margin: auto;
    height: 600px;
    background-color: lawngreen;  
    width: 80%;  
    

    &__stripe{
        display: flex;
        transition: transform .6s ease;
        background-color: magenta;
        width: 50%;
        height: 100%;



    }

    &__left{
        background-image: url("../imgs/arrow2.png");
    }

    &__right{

        background-image: url("../imgs/arrow.png");


    }
}
