.footer{

    background-color: $secondary-color;

    &__section{
        display: flex;


    }
    &__column{
        padding: 70px;


    }
    &__title{
        color: #ffffff;
        font-weight: normal;


    }
    &__content{
        color: #ffffff;
        font-weight: lighter;

    }
    
    
}

@media screen and (max-width: 900px){
    .footer{
        &__section{
            flex-direction: column;
        }     
    }
}
