
.interaction{
    display: flex;
    margin: auto;
    margin-top: 40px;


    &__image{
        width: 60%;
     //   margin: auto;
    }

    .btn
    {
        &--interaction{
            background-color: blueviolet;
        }
    }

    &__btns{


       padding-left: 30%;
    }


}

@media screen and (max-width: 900px){

    .interaction{
        display: flex;
        margin: auto;
        margin-top: 40px;
    
    
        &__image{
            width: 100%;
            margin: 0px;
        }



        &__btns{
           justify-content: center;
           padding-left: 40%;
        }
    
    
}}