.menu{
    background-color: $secondary-color;
    display: flex;

    &__logo{
        height: 50px;
        width: 60px;
        padding-right: 150px;
        padding-left: 3%;
    }


    &__text{
        color: white;
        padding-right: 150px;
        margin-top: 15px;
       
    }

    &__search{
      border: none;
      margin-top: 14px;
      margin-bottom: 14px;
      width: 20%;
      padding-right: 1,5%;
    }

    &__search-icon{
        margin-left: 2%;
        margin-top: 14px;
        width: 20px;
        height: 20px;
    }

    &__hamburger{
        display: none;

    }

}

@media screen and (max-width: 900px){
.menu{
    &__logo{
        height: 50px;
        width: 60px;
        padding-right: 150px;
        padding-left: 3%;
    }


    &__text{
        
    display: none;
       
    }

    &__search{
        display: none;
    }

    &__search-icon{
        display: none;
    }
    &__hamburger{
        display: block;
        right: 10px;
        height:25px;
        margin-top: 10px;
        margin-left: 45%;
    }

}
}
