.side-bar{

    background-color: $secondary-color;
    max-width: 55%;
    display: flex;
    margin-top: 20px;
    padding: 2%;
   
    
    &__text{

        color: white;
     
      margin-left: 30%;
        font-weight: bold;
        font-size: 30px;   

        &--promo{
            max-width: 40%;
            font-weight: normal;
        }
    }




    &__prom{
        background-color: $primary-color;
        margin: auto;
        padding: 10px;
        transform: skewX(-20deg);
        &__number{
            transform: none;
            color: white;
            font-size: 30px;
            


        }
    }


 
}
@media screen and (max-width: 900px){

    .side-bar{
     max-width: auto;

    
    &__text{

        color: white;
        margin-left: auto;
        font-weight: bold;
        font-size: 20px;   

    }

    &__prom{
        background-color: $primary-color;
        margin: auto;
        padding: 10px;
        transform: skewX(-20deg);
        &__number{
            transform: none;
            color: white;
            font-size: 20px;
            


        }
    }



    
}
}

@media screen and (max-width: 600px){

    .side-bar{
        max-width: auto;
    }
}