.productslist{
  margin: 5% 0px;

}

.product {
    border-bottom: 1px solid gray;
    display: flex;
    margin: 0px 15%;
    background-color: #F8F8F8;

    &__info{
      display: flex;
      //background-color: khaki;
    }
  
    &__img { 
      width: 150px;
      height: 150px;
      object-fit: contain;
      padding: 10px;
      margin-right: 20px;
      border: 1px solid gray;
      border-radius: 5px;
    }
    &__title {
      margin-top: 0px;
      font-weight: lighter;
      font-size: 20px;

    }
    &__price {
        margin-top: 50px;
        font-weight: bold;
        font-size: larger;
  
    }
    
   /*
    &__check{
        display: flex;
        background-color: lightcoral;
    }
*/
  }
  
  
  
  .form {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 30px;
    margin-top: 30px;
  
    &__title {
      margin-top: 0;
    }
  
    &__label {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    &__error{
      color: red;
      font-weight: 600;
    }
  }
  .loader{
    display: none;
    &--show{
      display: block;
    }
  }

  .hidden{
    display: none;
  }

  
  
