@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");
.menu {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__logo {
  height: 50px;
  width: 60px;
  padding-right: 150px;
  padding-left: 3%;
}

.menu__text {
  color: white;
  padding-right: 150px;
}

.menu__search {
  border: none;
  margin-top: 14px;
  margin-bottom: 14px;
  width: 20%;
  padding-right: 1,5%;
}

.menu__search-icon {
  margin-left: 2%;
  margin-top: 14px;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 900px) {
  .menu__logo {
    height: 50px;
    width: 60px;
    padding-right: 150px;
    padding-left: 3%;
  }
  .menu__text {
    display: none;
  }
  .menu__search {
    display: none;
  }
  .menu__search-icon {
    display: none;
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url("../imgs/banner-img.png");
  height: 600px;
  background-size: cover;
  background-position: center;
}

.banner__section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__title {
  padding: 2%;
  margin-left: 13%;
  font-weight: bold;
  font-size: 40px;
  color: white;
  max-width: 35%;
  text-align: center;
}

.banner__text {
  margin-left: 12%;
  color: white;
  font-weight: normal;
  font-size: 33px;
}

.banner .btn {
  margin-top: 1%;
  margin-left: 24.5%;
  margin-bottom: 10%;
}

@media screen and (max-width: 900px) {
  .banner__title {
    margin-left: 13%;
    font-weight: bold;
    font-size: 37px;
    color: white;
    max-width: 55%;
    text-align: center;
  }
  .banner__text {
    margin-left: 12%;
    color: white;
    font-weight: normal;
    font-size: 25px;
    max-width: 65%;
    text-align: center;
    padding: 3%;
  }
}

.btn {
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0px;
  border: 0;
  background-color: #4576F5;
  color: #ffffff;
  width: 170px;
  margin: auto;
}

.btn:hover {
  background-color: #2861f3;
}

.btn--secondary {
  border-radius: 0px;
  font-size: 15px;
  padding: 1%;
}

.btn--interaction {
  border-radius: 50%;
  border: 1px solid red;
  width: 20px;
}

.side-bar {
  background-color: #000000;
  max-width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 2%;
}

.side-bar__text {
  color: white;
  margin-left: 30%;
  font-weight: bold;
  font-size: 30px;
}

.side-bar__text--promo {
  max-width: 40%;
  font-weight: normal;
}

.side-bar__prom {
  background-color: #4576F5;
  margin: auto;
  padding: 10px;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}

.side-bar__prom__number {
  -webkit-transform: none;
          transform: none;
  color: white;
  font-size: 30px;
}

@media screen and (max-width: 900px) {
  .side-bar {
    max-width: auto;
  }
  .side-bar__text {
    color: white;
    margin-left: auto;
    font-weight: bold;
    font-size: 20px;
  }
  .side-bar__prom {
    background-color: #4576F5;
    margin: auto;
    padding: 10px;
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
  }
  .side-bar__prom__number {
    -webkit-transform: none;
            transform: none;
    color: white;
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .side-bar {
    max-width: auto;
  }
}

.carrousel {
  width: 80%;
  overflow: hidden;
  margin: auto;
  height: 500px;
}

.carrousel__stripe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
}

.carrousel__left {
  background-image: url("../imgs/arrow2.png");
  background-color: lightpink;
}

.carrousel__right {
  background-image: url("../imgs/arrow2.png");
  background-color: lightpink;
}

.footer {
  background-color: #000000;
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column {
  padding: 70px;
}

.footer__title {
  color: #ffffff;
  font-weight: normal;
}

.footer__content {
  color: #ffffff;
  font-weight: lighter;
}

@media screen and (max-width: 900px) {
  .footer__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.table {
  margin: auto;
  border-collapse: collapse;
  border: 3px solid #000000;
}

.table__title {
  width: 25%;
  font-size: 20px;
  border: 3px solid #000000;
  font-weight: bold;
}

.table__info {
  padding: 2%;
  margin: auto;
  font-weight: normal;
  border: 3px solid #000000;
  width: 30%;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .table {
    margin-top: 30px;
    margin-left: 20px;
  }
}

.interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 40px;
}

.interaction__image {
  width: 60%;
}

@media screen and (max-width: 900px) {
  .interaction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-top: 40px;
  }
  .interaction__image {
    width: 100%;
    margin: 0px;
  }
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5% 0%;
}

.newsletter__title {
  margin: auto;
  padding: 20px;
  font-size: 40px;
}

.newsletter__text {
  margin: auto;
  padding: 10px;
}

.newsletter__info {
  margin: auto;
  padding: 10px;
}

.newsletter__input {
  width: 300px;
}

@media screen and (max-width: 900px) {
  .newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5% 0%;
  }
  .newsletter__title {
    margin: auto;
    padding: 20px;
    font-size: 40px;
  }
  .newsletter__text {
    margin: auto;
    padding: 10px;
    text-align: center;
  }
  .newsletter__info {
    margin: auto;
    padding: 10px;
  }
  .newsletter__input {
    width: 100px;
  }
}

* {
  margin: 0%;
}

body {
  font-family: "Roboto", cursive;
}

.row {
  margin: 10% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row__col {
  padding: 20px;
}

.row__col--3 {
  width: 33.3%;
}

.sect {
  text-align: center;
}

.sect__img {
  width: 110px;
  height: 115px;
}

.sect__title {
  color: #4576F5;
  font-weight: bold;
  font-size: 30px;
}

.sect__text {
  text-align: center;
}

.promotion {
  margin-top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 900px) {
  .row {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row__col {
    padding: 25px 0px 75px 0px;
  }
  .row__col--3 {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */