@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");

$primary-color: #4576F5;
$secondary-color:#000000;
$font: "Roboto", cursive;

@import 'menu';
@import 'banner';
@import 'btn';
@import'side-banner';
@import 'carrousel';
@import 'footer';
@import 'table';
@import 'interaction';
@import 'newsletter';


body{
    font-family: $font;  
}

.row{

    margin: 10% 0%;

    display: flex;
    &__col{
        padding: 20px;
        &--3{
            width: 33.3%;
        }
    }
}

.sect{

    text-align: center;

    &__img{
        width: 110px;
        height:115px ;
    }

    &__title{

        color: $primary-color;
        font-weight: bold;
        font-size: 30px;
    }

    &__text{
        text-align: center;
        
    }
}

.promotion{
margin-top: 170px;
    display: flex;
}


@media screen and (max-width: 900px){


    .row{

        margin: auto;
    
        display: flex;
        flex-direction: column;

        &__col{
            padding: 20px;
            &--3{
                width: 100%;
            }
        }
    }

}

