@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");
.menu {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__logo {
  height: 50px;
  width: 60px;
  padding-right: 150px;
  padding-left: 3%;
}

.menu__text {
  color: white;
  padding-right: 150px;
  margin-top: 1%;
}

.menu__search {
  border: none;
  margin-top: 14px;
  margin-bottom: 14px;
  width: 20%;
  padding-right: 1,5%;
}

.menu__search-icon {
  margin-left: 2%;
  margin-top: 14px;
  width: 20px;
  height: 20px;
}

.menu__hamburger {
  display: none;
}

@media screen and (max-width: 900px) {
  .menu__logo {
    height: 50px;
    width: 60px;
    padding-right: 150px;
    padding-left: 3%;
  }
  .menu__text {
    display: none;
  }
  .menu__search {
    display: none;
  }
  .menu__search-icon {
    display: none;
  }
  .menu__hamburger {
    display: block;
    right: 10px;
    height: 25px;
    margin-top: 10px;
    margin-left: 45%;
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url("../imgs/banner-img.png");
  height: 600px;
  background-size: cover;
  background-position: center;
}

.banner__section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__title {
  padding: 1%;
  margin-left: 0%;
  font-weight: bold;
  font-size: 40px;
  color: white;
  max-width: 35%;
  text-align: center;
  margin-bottom: auto;
}

.banner__text {
  margin-left: 10%;
  color: white;
  font-weight: normal;
  font-size: 33px;
  margin-bottom: 100px;
}

.banner .btn {
  margin-top: 1%;
  margin-left: 24.5%;
  margin-bottom: 10%;
}

.banner--secondary {
  background-image: url("../imgs/banner-tienda.png");
}

@media screen and (max-width: 900px) {
  .banner__title {
    margin-left: 13%;
    font-weight: bold;
    font-size: 37px;
    color: white;
    max-width: 55%;
    text-align: center;
  }
  .banner__text {
    margin-left: 12%;
    color: white;
    font-weight: normal;
    font-size: 25px;
    max-width: 65%;
    text-align: center;
    padding: 3%;
  }
}

.btn {
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0px;
  border: 0;
  background-color: #4576F5;
  color: #ffffff;
  width: 170px;
  margin: auto;
}

.btn:hover {
  background-color: #2861f3;
}

.btn--secondary {
  border-radius: 0px;
  font-size: 15px;
  padding: 1%;
}

.btn--interaction {
  border-radius: 50%;
  border: 1px solid red;
  width: 20px;
}

.side-bar {
  background-color: #000000;
  max-width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 2%;
}

.side-bar__text {
  color: white;
  margin-left: 30%;
  font-weight: bold;
  font-size: 30px;
}

.side-bar__text--promo {
  max-width: 40%;
  font-weight: normal;
}

.side-bar__prom {
  background-color: #4576F5;
  margin: auto;
  padding: 10px;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}

.side-bar__prom__number {
  -webkit-transform: none;
          transform: none;
  color: white;
  font-size: 30px;
}

@media screen and (max-width: 900px) {
  .side-bar {
    max-width: auto;
  }
  .side-bar__text {
    color: white;
    margin-left: auto;
    font-weight: bold;
    font-size: 20px;
  }
  .side-bar__prom {
    background-color: #4576F5;
    margin: auto;
    padding: 10px;
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
  }
  .side-bar__prom__number {
    -webkit-transform: none;
            transform: none;
    color: white;
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .side-bar {
    max-width: auto;
  }
}

.carrousel {
  overflow: hidden;
  margin: auto;
  height: 600px;
  background-color: lawngreen;
  width: 80%;
}

.carrousel__stripe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
  background-color: magenta;
  width: 50%;
  height: 100%;
}

.carrousel__left {
  background-image: url("../imgs/arrow2.png");
}

.carrousel__right {
  background-image: url("../imgs/arrow.png");
}

.footer {
  background-color: #000000;
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column {
  padding: 70px;
}

.footer__title {
  color: #ffffff;
  font-weight: normal;
}

.footer__content {
  color: #ffffff;
  font-weight: lighter;
}

@media screen and (max-width: 900px) {
  .footer__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.table {
  margin: auto;
  border-collapse: collapse;
  border: 3px solid #000000;
}

.table__title {
  width: 25%;
  font-size: 20px;
  border: 3px solid #000000;
  font-weight: bold;
}

.table__info {
  padding: 2%;
  margin: auto;
  font-weight: normal;
  border: 3px solid #000000;
  width: 30%;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .table {
    margin-top: 30px;
    margin-left: 20px;
  }
}

.interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 40px;
}

.interaction__image {
  width: 60%;
}

.interaction .btn--interaction {
  background-color: blueviolet;
}

.interaction__btns {
  padding-left: 30%;
}

@media screen and (max-width: 900px) {
  .interaction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-top: 40px;
  }
  .interaction__image {
    width: 100%;
    margin: 0px;
  }
  .interaction__btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 40%;
  }
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5% 0%;
}

.newsletter__title {
  margin: auto;
  padding: 20px;
  font-size: 40px;
}

.newsletter__text {
  margin: auto;
  padding: 10px;
}

.newsletter__info {
  margin: auto;
  padding: 10px;
}

.newsletter__input {
  width: 300px;
}

@media screen and (max-width: 900px) {
  .newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5% 0%;
  }
  .newsletter__title {
    margin: auto;
    padding: 20px;
    font-size: 40px;
  }
  .newsletter__text {
    margin: auto;
    padding: 10px;
    text-align: center;
  }
  .newsletter__info {
    margin: auto;
    padding: 10px;
  }
  .newsletter__input {
    width: 100px;
  }
}

.productslist {
  margin: 5% 0px;
  width: 100%;
}

.infotienda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product {
  border-top: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 15%;
  background-color: #F8F8F8;
  /*
    &__check{
        display: flex;
        background-color: lightcoral;
    }
*/
}

.product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__img {
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

.product__title {
  margin-top: 0px;
  font-weight: lighter;
  font-size: 20px;
}

.product__price {
  margin-top: 50px;
  font-weight: bold;
  font-size: larger;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 30px;
  margin: auto;
  margin-bottom: 30px;
}

.form__title {
  margin-top: 0;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.form__error {
  color: red;
  font-weight: 600;
}

.loader {
  display: none;
}

.loader--show {
  display: block;
}

.hidden {
  display: none;
}

.filterform {
  padding: 10px;
  -webkit-box-shadow: 5px 0px 5px #dddddd;
          box-shadow: 5px 0px 5px #dddddd;
  margin: 80px 0px;
  border-radius: 10px;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F5F5F5;
  margin: 5% 15%;
  -webkit-box-shadow: 10px 10px 10px #b4b4b4;
          box-shadow: 10px 10px 10px #b4b4b4;
  padding: 4% 0%;
}

.details__info {
  display: block;
  margin: 0% 5%;
}

.details__title {
  font-size: 35px;
  font-weight: normal;
}

.details__price {
  color: #4576F5;
}

.details__img {
  margin: 0% 5%;
  height: 300px;
}

* {
  margin: 0%;
}

body {
  font-family: "Roboto", cursive;
}

.row {
  margin: 10% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row__col {
  padding: 20px;
}

.row__col--3 {
  width: 33.3%;
}

.sect {
  text-align: center;
}

.sect__img {
  width: 110px;
  height: 115px;
}

.sect__title {
  color: #4576F5;
  font-weight: bold;
  font-size: 30px;
}

.sect__text {
  text-align: center;
}

.promotion {
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link {
  text-decoration: none;
  color: #000000;
}

.link:visited {
  color: #000000;
}

@media screen and (max-width: 900px) {
  .row {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row__col {
    padding: 25px 0px 75px 0px;
  }
  .row__col--3 {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */